/.ftpconfig
/.git
/.gitignore
/.vscode
/ARIAL.TTF
/arial16pt.h
/ARIALBD.TTF
/ARIALBI.TTF
/ARIALI.TTF
/ARIBLK.TTF
/binding.gyp
/bitmaps.js
/bitmaps.json
/constants.js
/dataObjFile
/Fire.code-workspace
/font
/fontData16pt
/fontData24px
/fontData32px
/main.js
/midi.js
/midi0.js
/midi1.js
/midi2.js
/node_modules
/package-lock.json
/polyrythm.js
/python2
/seq_loop.js
/test.json