/.ftpconfig
/.git
/.gitignore
/.vscode
/ARIAL.TTF
/arial16pt.h
/ARIALBD.TTF
/ARIALBI.TTF
/ARIALI.TTF
/ARIBLK.TTF
/binding.gyp
/dataObjFile
/font
/fontData16pt
/fontData24px
/fontData32px
/midi.js
/midi0.js
/midi1.js
/midi2.js
/node_modules
/package-lock.json
/python2
/test.json
**/node_modules/
projects/
package-lock.json
.DS_Store